<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @consumer.phone_number %>
</p>

<%= link_to 'Edit', edit_manager_consumer_path(@consumer) %> |
<%= link_to 'Back', manager_consumers_path %>
