<h1>Manager::Home#index</h1>

<p>Prototype for manager's home page.</p>

<% if manager_signed_in? %>
  <%= link_to "Listing consumers", manager_consumers_path %>
  <%= link_to "Listing appointments", manager_appointments_path %>
<% end %>

