<% @managers.each do |manager| %>
    <tr>
	    <td width="35%"><%= manager.practice_name %></td>
	    <td width="25%"><%= manager.practice_address %></td>
	    <td width="15%"><%= manager.practice_phone %></td>
	    <td><a class="edit_link" href="<%= edit_manager_manager_path(manager) %>"><i class="fa fa-edit"></i></a></td>
	  </tr>
<% end %>