@import 'variables';

/* appointment page */
.edit_link {
  font-size: 25px;
  color: $panel_orange;
}

.btn.dropdown-toggle {
  width: 120px;
}
.input-group-btn .btn-green {
  background: $panel_greenway;
}

.input-group-btn .btn-blue {
  background: $panel_blue;
}

.input-group-btn .btn-red {
  background: $panel_red;
}

input.form-control.search {
  width: 91%;
}

input.search-submit {
  display: none;
}

.pagination {
  float: right;
  margin: 5px 10px;
  font-size: 16px;
  
}

.sorttable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.sorttable th a {
  width: 120px;
  display: block;
}

.sorttable th .asc {
  background: url('../img/sort_asc.png') no-repeat center right;
}

.sorttable th .desc {
  background: url('../img/sort_desc.png') no-repeat center right;
}


