<div class="main-content">
  <div class="row">
  	<div class="col-lg-4 col-sm-4 space">&nbsp;</div>
  	<div class="col-lg-4 col-sm-4 form-content">
  		<div class="signin-form">
  			<img class="logo" src="/assets/mywaitlist-logo-withshadow.png">
			<%= form_for(@consumer, :url => {:action => 'new_consumer'}) do |f| %>
			  <i class="fa fa-user"></i>
			  <%= f.text_field :user_name, :value=> @username, :autofocus => true, :class=>"form-control round-input email-input" %>
			  <i class="fa fa-mobile"></i>
			  <%= f.phone_field :phone_number, :class=>"form-control round-input phone-input" %>
			  
			  <div><%= f.submit "Join Waitlist", :class=>"btn btn-round"%></div>
			  
			  <div><label>"By submitting, you agree to the terms and conditions.</label></div>
			<% end %>			
		</div>
	</div>
	<div class="col-lg-4 col-sm-4">&nbsp;</div>
  </div>
</div>
