<div class="main-content">
  <div class="container">
	  <div class="row">
	  	<div class="form-content">
	  		<div class="signin-form">
	  			<img class="logo" src="/assets/mywaitlist-logo-withshadow.png">
				<%= form_for(@consumer, :url => {:action => 'new_consumer'}) do |f| %>
				  <i class="fa fa-user"></i>
				  <%= f.text_field :user_name, :value=> @manager.name, :autofocus => true, :class=>"form-control round-input email-input" %>
				  <i class="fa fa-mobile"></i>
				  <%= f.phone_field :phone_number, :value=> @manager.phone, :class=>"form-control round-input phone-input" %>
				  
				  <div><%= f.submit "Join Waitlist", :class=>"btn btn-round"%></div>
				  
				  <div class="description"><label>"By submitting, you agree to the terms and conditions.</label></div>
				<% end %>			
			</div>
		</div>
	  </div>
  </div>
</div>
