<h1>Admin::Home#index</h1>
<p>Find me in app/views/admin/home/index.html.erb</p>

<%= link_to "Listing managers", admin_managers_path %>
<%= link_to "Listing consumers", admin_consumers_path %>
<%= link_to "Listing appointments", admin_appointments_path %>
