
  <!-- page start-->
  <div class="row">
    <div class="col-md-9">
  <div class="tab-content">
  <div class="tab-pane active" id="tab_1">
      <div class="panel-group" id="accordion1">
          <div class="panel panel-danger">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#accordion1_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                          1. What is a “Waitlister”?
                      </a>
                  </h4>
              </div>
              <div class="panel-collapse collapse  in" id="accordion1_1">
                  <div class="panel-body">
                     <p> A Waitlister is a customer who has joined your waitlist and is waiting for an appointment to become available</p>
                  </div>
              </div>
          </div>
          <div class="panel panel-success">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                          2. What is a “Broadcast” ?
                      </a>
                  </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion1_2">
                  <div class="panel-body">
                      A Broadcast is created by you, the Manager, to notify all Waitlisters of an available appointment.
                  </div>
              </div>
          </div>
          <div class="panel">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#accordion1_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                          3. What is a Manager?
                      </a>
                  </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion1_3">
                  <div class="panel-body">
                      You are a Manager. Managers have full access to your office’s mywaitlist dashboard and can create Broadcasts and Waitlisters. Managers can also create new managers as needed. 
                  </div>
              </div>
          </div>
          <div class="panel ">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#accordion1_4" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                          4. How do I add a Waitlister?
                      </a>
                  </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion1_4">
                  <div class="panel-body">
                      Most Waitlisters will add themselves to your waitlist by visiting your website and supplying their name and phone number. However, you can add a waitlister within the Dashboard if necessary (i.e. the customer calls your office and you offer to add them to the waitlist yourself).
                  </div>
              </div>
          </div>
          <div class="panel panel-warning">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#accordion1_5" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                          5. How do I create a Broadcast?
                      </a>
                  </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion1_5">
                  <div class="panel-body">
                      You may create a Broadcast within the Dashboard or within the Broadcast page buy submitting the appropriate information (Date and Comments). Once you broadcast an open appointment, Waitlisters will automatically be notified. The first Waitlister to accept will then be promoted to call your office with the provided Pin to conform the appointment. At this point, you can mark the Broadcast as “Filled”. You may also cancel the Broadcast by selecting “Cancel” from the Status drop down on the corresponding Broadcast.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#accordion1_6" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                          6. What is a Pin?
                      </a>
                  </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion1_6">
                  <div class="panel-body">
                      A Pin is the 4-digit number that is automatically created and assigned to a Broadcast when the Broadcast is created. The Waitlister who accepts the available appointment will be notified to call your office to confirm the appointment by supplying this 4-digit Pin. 
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#accordion1_7" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                          7. How do I remove a Waitlister?
                      </a>
                  </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion1_7">
                  <div class="panel-body">
                      In order to remove a Waitlister, visit the Waitlister page and select “Disable” from the Status drop down on the corresponding Waitlister.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#accordion1_8" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                          8.  How do I cancel a Broadcast?
                      </a>
                  </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion1_8">
                  <div class="panel-body">
                      In order to cancel a Broadcast, visit the Broadcast page and select “Cancel” from the Status drop down on the corresponding Broadcast.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#accordion1_9" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                          9.  How do I add a new Manager?
                      </a>
                  </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion1_9">
                  <div class="panel-body">
                      Visit the Manager page and submit the appropriate information (Manager Name, Manager Phone #, Manager Email). Login information will automatically be sent to the email supplied.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a href="#accordion1_10" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                          10.  How do I mark an appointment as “filled”?
                      </a>
                  </h4>
              </div>
              <div class="panel-collapse collapse" id="accordion1_10">
                  <div class="panel-body">
                      In order to mark an appointment or Broadcast as filled, visit the Broadcast page and select “Filled” from the Status drop down on the corresponding Broadcast.
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
    <div class="col-md-3">
        <ul class="vertical-menu">
            <li class="active">
                <a href="#tab_1" data-toggle="tab">
                    <i class="fa fa-bullhorn"></i>
                    General Questions
                </a>
            </li>
            
        </ul>
    </div>

  </div>
  <!-- page end-->
