/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table a:link {
  font-weight: bold;
}

table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}

table {
  border:1px solid #CCC;
}

table th {
  background: #EDEDED;
}

table tr {
  text-align: center;
}

table td {
  padding: 10px;
  border-top: 1px solid #CCC;
}

table tr.even td {
  background: #f6f6f6;
}

table tr:hover td {
  background: #f2f2f2;
}
