
$panel_greenway: #78b943;
$panel_blue: #1993d0;
$panel_dark_blue: #2C5C8D;
$panel_red: #d64351;
$panel_orange: #e89124;
$panel_purple: #614c9f;

html, body{
  height: 100%;
}

.main-content {
  background: image-url('blurred.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  height: 100%;
  
  section {
    margin-top: 100px;
  }
  
  .form-content {
    width: 260px;
    margin: 0 auto;
    height: 100%;
  }
}

.signin-form {
  margin-top: 120px;
  color: #E6E6E6;
  width: 100%;
  
  form {
    margin-top: 30px;
    width: 100%;
  }
  
  input {
    height: 45px;
    position: relative;
  }
  
  img.logo {
    width: 100%;
  }
  
  .round-input {
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    margin: 15px 0;
    width: 100%;
    padding-left: 50px;
    font-size: 20px;
    color: #E6E6E6;
  }
  
  select {
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    margin: 15px 0;
    width: 100%;
    padding-left: 50px;
    font-size: 20px;
    color: #5C5353;
  }
  
  .description {
    text-align:right;
  }
  .email-input {
    background: rgba(197, 196, 196, 0.5);
    border-color: rgb(197, 196, 196);
  }
    
  i { 
    position:absolute; 
    z-index: 2; 
    padding: 8px 15px;
    font-size: 30px;
    color: #E4E4E4;
  }
  
  i.fa-mobile {
    padding: 3px 15px;
    font-size: 40px;
  }
  
  .phone-input {
    background: transparent;
    border: 2px solid #c5c4c4;
  }
  
  .passwd-input {
    background: transparent;
    border: 2px solid #c5c4c4;
  }

  .link {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    
    a, a:link, a:visited {
      color: #C5B7B7;
    }
  }
  
  form input.btn.btn-round[type=submit] {
    background: $panel_blue;
    font-size: 16px;
    width:100%;
  }
  
  form input.btn.btn-round[type=submit]:not(.disabled):active {
    background: $panel_dark_blue;
    color: #E6E6E6;
  }
  
  form input.btn.btn-round[type=submit]:not(.disabled):hover {
    background: $panel_blue;
    color: #E6E6E6;
  }
  
  label {
    font-size: 9px;
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
  }
  
  h3 {
    color: #ddd;
  }
  
  input:-moz-placeholder {  
    color: #ccc;  
  } 
  input::-moz-placeholder {  
    color: #ccc;  
  } 
  input::-webkit-input-placeholder {  
    color: #ccc;  
  } 
  input:-ms-input-placeholder {  
    color: #ccc;  
  }  
}

.link-form {
  
  margin: 0 auto;
  color: #fff;
  
  label {
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .description-center {
    text-align:center;
  }
  
  a.btn.btn-round {
    color: #fff;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px rgb(45, 68, 109);
    background: $panel_greenway;
    font-size: 16px;
  }
  
  a.btn.btn-round:not(.disabled):active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px rgb(45, 68, 109);
    background: #5CA124;
  }
  
  a.btn.btn-round:not(.disabled):hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px rgb(45, 68, 109);
    background: $panel_greenway;
  }

}

@media (max-width: 319px) {
    .main-content .form-content {
       width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main-content .form-content {
       width: 90%;
       
       .signin-form {
        margin-top: 200px;
        width: 100%;
        
        form {
          margin-top: 60px;
          width: 100%;
        }
        
        input {
          height: 90px;
          position: relative;
        }
        
        img.logo {
          width: 100%;
        }
        
        .round-input {
          -webkit-border-radius: 60px; 
          -moz-border-radius: 60px; 
          border-radius: 60px; 
          margin: 30px 0;
          width: 100%;
          padding-left: 100px;
          font-size: 40px;
        }
        
        .description {
          text-align:right;
        }
        
        i { 
          position:absolute; 
          z-index: 2; 
          padding: 16px 30px;
          font-size: 60px;
        }
        
        i.fa-mobile {
          padding: 12px 30px;
          font-size: 80px;
        }
        
        .link {
          width: 100%;
          font-size: 20px;
          text-align: center;
          margin: 0 auto;
          margin-top: 40px;
        }
        
        form input.btn.btn-round[type=submit] {
          font-size: 32px;
          width:100%;
        }
        
        label {
          font-size: 18px;
          margin-top: 20px;
        }
      
      }
      
      .link-form {
        
        margin: 0 auto;
        color: #fff;
        
        label {
          font-size: 32px;
          font-weight: 400;
          margin: 0 auto;
          margin-top: 20px;
        }
        
        .description-center {
          text-align:center;
        }
        
        a.btn.btn-round {
          color: #fff;
          width: 100%;
          border-radius: 60px; 
          font-size: 40px;
          font-weight: 700;
          text-decoration: none;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px rgb(45, 68, 109);
          background: $panel_greenway;
          font-size: 32px;
          padding-top: 25px;
          height: 90px;
        }
        
      }
    }
}