
$panel_greenway: #78b943;
$panel_blue: #1993d0;
$panel_dark_blue: #2C5C8D;
$panel_red: #d64351;
$panel_orange: #e89124;
$panel_purple: #614c9f;


.main-content {
  background: image-url('blurred.jpg');
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  
  section {
    margin-top: 100px;
  }
  
  .form-content {
    margin-left: 80px;
  }
  
}

@media (max-width: 767px) {
}

.signin-form {
  margin-top: 120px;
  color: #E6E6E6;
  
  form {
    margin-top: 30px;  
  }
  
  input {
    width: 260px;
    height: 45px;
    position: relative;
  }
  
  img.logo {
    width: 260px;
  }
  
  .round-input {
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    margin: 15px 0;
    width: 260px;
    padding-left: 50px;
    font-size: 20px;
    color: #E6E6E6;
  }
  
  .email-input {
    background: rgba(197, 196, 196, 0.5);
    border-color: rgb(197, 196, 196);
  }
    
  i { 
    position:absolute; 
    z-index: 2; 
    padding: 8px 15px;
    font-size: 30px;
    color: #E4E4E4;
  }
  
  i.fa-mobile {
    padding: 3px 15px;
    font-size: 40px;
  }
  
  .phone-input {
    background: transparent;
    border: 2px solid #c5c4c4;
  }
  
  .passwd-input {
    background: transparent;
    border: 2px solid #c5c4c4;
  }

  .link {
    width: 260px;
    text-align: center;
    margin: 20px 5px;
    
    a, a:link, a:visited {
      color: #C5B7B7;
    }
  }
  
  form input.btn.btn-round[type=submit] {
    background: $panel_blue;
    font-size: 16px;
  }
  
  form input.btn.btn-round[type=submit]:not(.disabled):active {
    background: $panel_dark_blue;
    color: #E6E6E6;
  }
  
  form input.btn.btn-round[type=submit]:not(.disabled):hover {
    background: $panel_dark_blue;
    color: #E6E6E6;
  }
  
  label {
    font-size: 9px;
    color: #fff;
    font-weight: 400;
    margin: 10px 45px;
  }

}

.link-form {
  
  margin: 50px auto;
  color: #fff;
  
  label {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 90px;
  }
  
  a.btn.btn-round {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    width: 260px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px rgb(45, 68, 109);
    background: $panel_greenway;
    font-size: 16px;
  }
  
  a.btn.btn-round:not(.disabled):active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px rgb(45, 68, 109);
    background: #5CA124;
  }
  
  a.btn.btn-round:not(.disabled):hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px rgb(45, 68, 109);
    background: #46791C;
  }

}
